@model FirstWebApp.Models.Product;
@{
    ViewBag.Title = "Product List";
}

<h3>ID: @Model.Id</h3>
<h3>Name: @Model.Name</h3>
<h3>Price: @Model.Price</h3>

@section Script
    {
    <script src="~/lib/bootstrap/js/bootstrap.esm.min.js"></script>
    <script src="~/lib/bootstrap/js/bootstrap.esm.js"></script>
}